<fieldset>
  <legend>Global Config</legend>
  SystemName: {{systemName}}
  <button (click)="testGlobalConfig()">Request GlobalConfig</button>
</fieldset>

<fieldset>
  <legend>Config Service</legend>
  Newkit-Config: {{newkitConfig | json}}
  <button (click)="testConfigService()">Request ConfigService</button>
</fieldset>

<fieldset>
  <legend>Dfis Uploader</legend>
  File Url: {{fileUrl}}
  <input type="file" (change)="onChange($event)">
  <button (click)="testDfisUploader()">Dfis Uploader</button>
</fieldset>

<fieldset>
  <legend>Event Bus</legend>
  <button (click)="testEmitEvent()">Emit Event</button>
  <button (click)="testUnSubscribeEvent()">UnSubscribe Event</button>
</fieldset>