<fieldset>
  <legend>Global Config</legend>
  SystemName: {{systemName}}
  <button (click)="testGlobalConfig()">Request GlobalConfig</button>
</fieldset>

<fieldset>
  <legend>Config Service</legend>
  Newkit-Config: {{newkitConfig | json}}
  <button (click)="testConfigService()">Request ConfigService</button>
</fieldset>

<fieldset>
  <legend>Dfis Uploader</legend>
  File Url: {{fileUrl}}
  <input type="file" (change)="onChange($event)">
  <button (click)="testDfisUploader()">Dfis Uploader</button>
</fieldset>

<fieldset>
  <legend>Event Bus</legend>
  <button (click)="testEmitEvent()">Emit Event</button>
  <button (click)="testUnSubscribeEvent()">UnSubscribe Event</button>
</fieldset>

<fieldset>
  <legend>Neg Tracker</legend>
  <button (click)="testStartTrack()">Start Track</button>
  <button (click)="testEndTack()">End Track</button>
</fieldset>

<fieldset>
  <legend>Neg Storage</legend>
  <label><input type="radio" value="cookie" [(ngModel)]="st.storageType">Cookie</label>
  <label><input type="radio" value="local" [(ngModel)]="st.storageType">LocalStorage</label>
  <label><input type="radio" value="session" [(ngModel)]="st.storageType">SessionStorage</label>
  <label><input type="radio" value="memory" [(ngModel)]="st.storageType">Memory</label>
  <br>
  Name: <input type="text" [(ngModel)]="st.storageName">
  Value: <input type="text" [(ngModel)]="st.storageValue">
  <br>
  <button (click)="setStorageValue()">SET</button>
  <button (click)="getStorageValue()">Get</button>
  <button (click)="removeStorageValue()">Remove</button>
  <button (click)="clearStorage()">Clear</button>
</fieldset>

<fieldset>
  <legend>Neg User Profile</legend>
  <button (click)="testGetProfile()">Get Profile</button>
  <button (click)="testSetProfile()">Set Profile</button>
  <button (click)="testDeleteProfile()">Delete Profile</button>
</fieldset>

<fieldset>
  <legend>Neg Global Loading</legend>
  <button (click)="testStartGlobalLoading()">Start Loading</button>
</fieldset>
