.menu-setting {
  .level1 {
    padding-left: 20px;
  }
  .level2 {
    padding-left: 40px;
  }
  .level3 {
    padding-left: 60px;
  }
  .language-config .input-group {
    margin-bottom: 5px;
  }
}
