<h1>Inputs -> Slider</h1>
<hr>
<kendo-slider [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [showButtons]="showButtons" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [incrementTitle]="'Inc'" [decrementTitle]="'Dec'" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [tickPlacement]="tickPlacement" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [title]="title" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [fixedTickWidth]="20" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [vertical]="true" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>
<hr>
<kendo-slider [disabled]="true" [min]="min" [max]="max" [smallStep]="smallStep" [(ngModel)]="value"></kendo-slider>