#iframe-for-ng1-page {
  width: 100%;
  display: block;
  min-height: calc(100vh - 113px);
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 905;
  background: #2dc3e8;
}

#left-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 220px;
  height: 100%;
  z-index: 904;
  /*background: forestgreen;*/
  border-right: 1px solid #E3E5E8;
}

#main {
  position: relative;
  margin-left: 220px;
  margin-top: 50px;
  padding: 0;
  min-height: 320px;
}

#main #ribbon {
  position: fixed;
  top: 50px;
  left: 220px;
  right: 0;
  z-index: 901;
  padding: 0 10px;
  height: 40px;
  background-image: linear-gradient(to right, #eee, #f3f3f3);
  border-bottom: 1px solid #E3E5E8;
  line-height: 40px;
}

#main #content {
  padding: 10px;
  padding-top: 50px;
}

.minifyme {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 5px;
}

.minifyme >div {
  position: absolute;
  top: 50%;
  width: 7px;
  background: #E3E5E8;
  height: 40px;
  cursor: pointer;
}

.menu-search {
  height: 40px;
  width: 100%;
  position: relative;
  background: white;
}

.menu-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 30px 0 10px;
}

.menu-search i {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
  color: #2dc3e8;
}

.menu-content {
  /*margin-right: 5px;*/
}

.nk-refresh {
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 5px;
}

.nk-refresh:hover {
  background: lightgray;
}

.languages li a{
  color: inherit !important;
  text-align: left;
}