<nav class="navbar navbar-dark bg-blue">
  <a class="navbar-brand" href="#">
    <img src="http://10.16.75.27:8101/modules/nk-shell/resources/images/logo.png" class="logo" alt=""></a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item active" style="position:relative;">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="sr-only">(current)</span></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>

  </ul>
</nav>
<div class="nk-sidebar">
  <div class="nk-menu-search">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Search menu...">
      <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
    </div>
  </div>
  <div class="nk-menu">
    <ul>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-cogs"></i>
          <span>Control Panel</span>
          <i class="fa fa-angle-down" style="float:right"></i>
        </a>
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-tasks"></i>
              <span>Menu Setting</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="menu-icon fa fa-wrench"></i>
          <span>Maintain</span>
          <i class="fa fa-angle-down" style="float:right"></i>
        </a>
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-tasks"></i>
              <span>Menu Setting</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-search"></i>
              <span>Global Search</span>
              <i class="fa fa-angle-down" style="float:right"></i>
            </a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-rss"></i>
                  <span>Global Search Config</span>
                  <i class="fa fa-angle-down" style="float:right"></i>
                </a>
                <ul class="submenu">
                  <li class="acti1ve" title="Global Search Config Lvel 4">
                    <a href="javascript:void(0)">
                      <i class="fa fa-heart"></i>
                      <span>Global Search Config Lvel 4</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-cogs"></i>
          <span>Last Panel</span>
          <i class="fa fa-angle-down" style="float:right"></i>
        </a>
        <ul class="submenu">
          <li class="acti1ve" title="Global Search Config Lvel 4">
            <a href="javascript:void(0)">
              <i class="fa fa-heart"></i>
              <span>Test Menu</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!--<div style="height:700px;"></div>-->
  </div>
</div>
<div class="content-wrapper">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>
  <div class="content">
    AAA
    <div style="height: 800px;">aa</div>
  </div>
</div>