<div class="app-page-login" *ngIf="!isLogged">
	Now loading, please waiting...
</div>
<div class="app-page-main" [hidden]="!isLogged">
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" href="/">
				<img src="http://10.16.75.27:8101/modules/nk-shell/resources/images/logo.png" class="logo" alt="">
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="bg-green toolbar-item">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-globe"></i>
					</a>
					<ul class="dropdown-menu languages" role="menu">
						<li (click)="changeLanguage('en-us')">
							<a href="javascript:void(0)">
								 English <i class="fa fa-check" *ngIf="currentLang === 'en-us'"></i>
							</a>
						</li>
						<li (click)="changeLanguage('zh-cn')">
							<a href="javascript:void(0)">
								 简体中文 <i class="fa fa-check" *ngIf="currentLang === 'zh-cn'"></i>
							</a>
						</li>
						<li (click)="changeLanguage('zh-tw')">
							<a href="javascript:void(0)">
								繁體中文	<i class="fa fa-check" *ngIf="currentLang === 'zh-tw'"></i>
							</a>
						</li>
					</ul>
				</li>
				<li class="bg-blue toolbar-item">
					<a href="javascript:void(0)" (click)="showFeedback()">
						<i class="fa fa-bullhorn"></i>
					</a>
				</li>
				<li class="bg-purple toolbar-item">
					<a href="javascript:void(0)" (click)="goAbout()">
						<i class="fa fa-question-circle"></i>
					</a>
				</li>
				<li class="dropdown user-info bg-light-blue">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
						<img [src]="userInfo?.Avatar || '#'" alt="">
						<span class="user-content">
              <small>Welcome,</small>
							{{ userInfo?.FullName }}
            </span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0);"><i class="fa fa-cogs"></i> Settings</a></li>
						<li class="divider"></li>
						<!--<li class="dropdown-header">Nav header</li>-->
						<li (click)="doLogout()"><a href="javascript:void(0);"><i class="fa fa-power-off"></i> Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div class="nk-sidebar">
		<div class="nk-menu-search">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Search menu...">
				<span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
			</div>
		</div>
		<div [nk-menu]="menuData"></div>
	</div>
	<div class="content-wrapper">
		<ol class="breadcrumb">
			<li *ngFor="let item of breadcrumbs; let i = index; trackBy: i" [ngClass]="{active: i === breadcrumbs.length - 1}">
				<a *ngIf="i < breadcrumbs.length - 1" href="javascript:void(0)">{{ item | menuTranslate }}</a>
				<span *ngIf="i === breadcrumbs.length - 1">{{ item | menuTranslate }}</span>
			</li>
		</ol>
		<div class="content">
			<router-outlet [hidden]="currentIsNg1Module"></router-outlet>
			<iframe [style.display]="currentIsNg1Module ? 'block': 'none'" id="iframe-for-ng1-page" [src]="ng1PageSrc" frameborder="0"
				scrolling="no" [style.height]="iframeHeight"></iframe>
		</div>
	</div>
</div>