<ul class="nav nav-list">
  <li *ngFor="let m1 of menuData; let i = index;" (click)="menuClick($event, m1)" [ngClass]="{active: m1.active}">
    <a href="javascript:void(0);" [attr.title]="m1 | menuTranslate" [ngClass]="{'dropdown-toggle': m1.SubMenus && m1.SubMenus.length > 0}">
      <i class="menu-icon fa" [ngClass]="getIconClass(m1.Icon)"></i>
      <span>{{ m1 | menuTranslate }}</span>
      <b *ngIf="m1.SubMenus && m1.SubMenus.length > 0" class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu" *ngIf="m1.SubMenus && m1.SubMenus.length > 0" [ngStyle]="{'display': m1.open ? 'block': 'none'}">
      <li *ngFor="let m2 of m1.SubMenus; let i2 = index;" (click)="menuClick($event, m2, m1)" [ngClass]="{active: m2.active}">
        <a href="javascript:void(0)" [attr.title]="m2 | menuTranslate" [ngClass]="{'dropdown-toggle': m2.SubMenus && m2.SubMenus.length > 0}">
          <i class="menu-icon fa" [ngClass]="getIconClass(m2.Icon)"></i>
          <span>{{ m2 | menuTranslate }}</span>
          <b *ngIf="m2.SubMenus && m2.SubMenus.length > 0" class="arrow fa fa-angle-down"></b>
        </a>
      </li>
    </ul>
  </li>
</ul>