<style>
  .ff {
    width: 100%;
    height: 100%;
  }
</style>
<header id="header">
  <img src="/" alt="">
</header>
<aside id="left-panel">
  <div class="minifyme">
    <div>
      <i class="fa fa-angle-left" style="margin-top: 12px;"></i>
    </div>
  </div>
  <div class="menu-search">
    <input type="text" placeholder="Search menu...">
    <i class="fa fa-search"></i>
  </div>
  <div class="menu-content">
    <nk-menu></nk-menu>
  </div>
</aside>
<div id="main" role="main">
  <div id="ribbon">
    <i class="fa fa-refresh nk-refresh" (click)="refreshPage();"></i>
    <span>Home</span> <i class="fa fa-angle-right"></i> <span>Dashboard</span>
  </div>
  <div id="content">
    <ui-view></ui-view>
    <!--<router-outlet></router-outlet>-->
    <iframe id="f1" class="ff" src="http://10.16.85.170:8989/" frameborder="0">

    </iframe>
    <!--<child id="component-container"></child>-->
  </div>
</div>