.menu-data, .menu-data ul {
  margin: 0;
  padding: 0;
}

.menu-data li {
  list-style: none;
}

.menu-data li > a {
  display: inline-block;
  width: 100%;
  min-height: 34px;
  line-height: 34px;
  text-decoration: none;
}

.menu-data li a {
  padding-left: 15px;
  color: black;
  cursor: pointer;
}

.menu-data li.active > a {
  background: #eee;
}

.menu-data li a:hover {
  background: #E3E5E8;
}

.menu-data .level1 li a {
  padding-left: 30px;
}

.menu-data .level2 li a {
  padding-left: 45px;
}

.menu-data .level3 li a {
  padding-left: 60px;
}

.menu-data .collapse ul {
  display: none;
}

.menu-data b {
  cursor: pointer;
  border: 1px solid gray;
}

.menu-data b.fa-angle-right {
  padding: 0 5px;
}

.menu-data b.fa-angle-down {
  padding: 0 3px;
}

.menu-data a.router-link-active{
  background: orange;
}

.menu-data li.active a{
  background: lightblue;
}