/* 
 * nk-style 0.0.1
 */
.nk-menu::-webkit-scrollbar {
  width: 5px;
}
.nk-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.nk-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.bg-blue {
  background: #2e6589;
}
.bg-blue:hover {
  background: #2c5976;
}
.bg-green {
  background: #69aa46;
}
.bg-green:hover {
  background: #2c7659;
}
.bg-purple {
  background: #892e65;
}
.bg-purple:hover {
  background: #762c59;
}
.bg-light-blue {
  background: #62a8d1;
}
.bg-light-blue:hover {
  background: #579ec8;
}
html,
body {
  min-height: 100%;
}
body {
  font-size: 0.8125rem;
}
a {
  text-decoration: none !important;
}
.breadcrumb {
  position: fixed;
  left: 220px;
  top: 50px;
  right: 0;
  height: 40px;
  line-height: 23px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  background: #474544;
}
.breadcrumb a {
  color: #fff;
}
.navbar {
  height: 50px;
  padding: 0 10px;
  border-radius: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, #080808 0, #0f0f0f 100%);
  border: none;
}
.navbar .navbar-brand {
  padding: 4px 15px;
}
.navbar .navbar-brand .logo {
  height: 42px;
}
.navbar .user-info {
  height: 50px;
  margin-right: 15px;
}
.navbar .user-info a.dropdown-toggle {
  padding: 0;
  color: #fff !important;
  line-height: 50px;
}
.navbar .user-info a.dropdown-toggle img {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}
.navbar .user-info a.dropdown-toggle .user-content {
  padding-top: 10px;
  float: left;
  line-height: 15px;
}
.navbar .user-info a.dropdown-toggle .caret {
  margin: 0 5px;
}
.navbar .user-info small {
  display: block;
}
.navbar .toolbar-item {
  width: 50px;
  border-right: 1px solid #fff;
}
.navbar .toolbar-item:first-child {
  border-left: 1px solid #fff;
}
.navbar .toolbar-item a {
  color: #fff !important;
  text-align: center;
}
.nk-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  height: 100%;
  width: 220px;
  background: linear-gradient(to right, #3a3633 93%, #3e3833 100%);
}
.nk-menu-search {
  position: relative;
  padding: 4.5px;
  height: 40px;
  border: solid transparent;
  border-width: 1px 0;
  border-bottom: 1px solid #525151;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
}
.nk-menu-search >span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #1a1817;
}
.nk-menu {
  position: fixed;
  left: 0;
  height: calc(100% - 93px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 219px;
}
.nk-menu .nk-menu-angle {
  float: right;
}
.fixed .nk-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.nk-menu ul li a:active {
  background: #616161 !important;
}
.nk-menu ul {
  width: 100%;
  padding: 40px 28px 25px 0;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 0.5em;
  list-style: none;
  position: relative;
}
.nk-menu ul .active>a {
  color: #fff !important;
  position: relative;
}
.nk-menu ul li.active>a:before {
  content: "\f0d9";
  font-family: FontAwesome;
  display: block;
  height: 27px;
  line-height: normal;
  width: 27px;
  position: absolute;
  right: -21px;
  font-size: 20px;
  color: #eee;
}
.nk-menu ul li.active.open>a:before {
  content: "";
}
.nk-menu>ul>li:last-child.open {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
.nk-menu ul li a {
  line-height: normal;
  font-size: 14px;
  padding: 10px 10px 10px 11px;
  color: #c0bbb7;
  display: block;
  font-weight: 400;
  text-decoration: none !important;
  position: relative;
}
.nk-menu>ul>li>ul>li>a,
.nk-menu>ul>li>ul>li>ul>li>a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.nk-menu ul li a:focus {
  color: #c9c9c9;
}
.nk-menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.nk-menu ul li a.inactive,
.nk-menu ul li a.inactive:hover {
  opacity: 0.5;
  cursor: not-allowed;
  color: #c0bbb7;
}
.nk-menu ul b {
  float: right;
  font-size: 11px;
  margin-top: 2px;
}
.nk-menu ul span.menu-item-parent {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nk-menu ul li.open>a,
.nk-menu ul li.open>a b {
  color: #fff !important;
}
.nk-menu>ul>li>a>i {
  width: 15px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.nk-menu ul li li {
  border-bottom: none;
  position: relative;
}
.nk-menu>ul>li>ul::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #7a7a7a;
}
.nk-menu>ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  left: 23px;
  top: 16px;
  border-top: 1px solid #7a7a7a;
  z-index: 1;
}
.nk-menu>ul ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  left: 10px;
  top: 17px;
  border-top: 1px solid transparent;
}
.nk-menu>ul ul li a i {
  font-size: 14px !important;
  width: 18px !important;
  text-align: center !important;
  vertical-align: 0 !important;
  line-height: 1 !important;
}
.nk-menu>ul>li:hover>ul::before,
.nk-menu>ul>li:hover>ul>li::before {
  border-color: #acacac !important;
}
.nk-menu ul ul {
  margin: 0;
  display: none;
  background: rgba(69,69,69,0.6);
  padding: 7px 0;
}
.nk-menu ul ul ul {
  background: 0 0;
  padding: 0;
}
.nk-menu ul ul li {
  margin: 0;
  padding: 0;
}
.nk-menu ul ul li>a {
  padding-left: 42px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
}
.nk-menu ul ul li>a:hover {
  background-color: rgba(69,69,69,0.8);
  color: #fff;
}
.nk-menu ul ul ul li a {
  color: #bfbfbf;
  padding: 8px 10px 8px 60px;
  font-size: 14px;
}
.nk-menu ul ul ul li a:hover {
  color: #fff;
}
.nk-menu ul ul ul ul li a {
  padding-left: 80px;
}
.nk-menu ul ul ul ul ul li a {
  padding-left: 100px;
}
.nk-menu ul ul ul ul ul ul li a {
  padding-left: 120px;
}
.nk-menu ul ul b {
  color: #b3b3b3;
}
.nk-menu ul ul>li:hover b {
  color: #d5d9e2;
}
.content-wrapper {
  margin-left: 220px;
  padding: 10px;
}
.fixed .content-wrapper {
  padding-top: 103px;
}
.form-control {
  line-height: 1.4;
  border-radius: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-size: 0.8125rem;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #eee;
}
.form-group-sm .form-control {
  line-height: 0.9;
}
.form-group-lg .form-control {
  line-height: 1.9;
}
.checkbox,
.input-group-addon {
  padding-left: 20px;
}
.checkbox input[type="checkbox"]+label,
.input-group-addon input[type="checkbox"]+label {
  display: inline-block;
  position: relative;
  padding-left: 3px;
}
.checkbox input[type="checkbox"]+label::before,
.input-group-addon input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox input[type="checkbox"]+label::after,
.input-group-addon input[type="checkbox"]+label::after {
  position: absolute;
  content: '';
  top: 1px;
  left: -15px;
  box-sizing: border-box;
  width: 7px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}
.checkbox input[type="checkbox"],
.input-group-addon input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before,
.input-group-addon input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto #ccc;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.input-group-addon input[type="checkbox"]:checked + label::after {
  border-color: #555;
}
.checkbox input[type="checkbox"]:disabled + label,
.input-group-addon input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.input-group-addon input[type="checkbox"]:disabled + label::before {
  background-color: #eee;
  cursor: not-allowed;
}
.checkbox.checkbox-inline,
.input-group-addon.checkbox-inline {
  margin-top: 0;
}
.checkbox.checkbox-primary input[type="checkbox"]:checked + label::before,
.input-group-addon.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #3b83c1;
  border-color: #3b83c1;
}
.checkbox.checkbox-primary input[type="checkbox"]:checked + label::after,
.input-group-addon.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
  border-color: #fff;
}
.checkbox.checkbox-danger input[type="checkbox"]:focus + label::before,
.input-group-addon.checkbox-danger input[type="checkbox"]:focus + label::before {
  outline-color: #d9534f;
}
.checkbox.checkbox-danger input[type="checkbox"]:checked + label::before,
.input-group-addon.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox.checkbox-danger input[type="checkbox"]:checked + label::after,
.input-group-addon.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
  border-color: #fff;
}
.checkbox.checkbox-info input[type="checkbox"]:focus + label::before,
.input-group-addon.checkbox-info input[type="checkbox"]:focus + label::before {
  outline-color: #42a5f5;
}
.checkbox.checkbox-info input[type="checkbox"]:checked + label::before,
.input-group-addon.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #42a5f5;
  border-color: #42a5f5;
}
.checkbox.checkbox-info input[type="checkbox"]:checked + label::after,
.input-group-addon.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
  border-color: #fff;
}
.checkbox.checkbox-warning input[type="checkbox"]:focus + label::before,
.input-group-addon.checkbox-warning input[type="checkbox"]:focus + label::before {
  outline-color: #ffa31c;
}
.checkbox.checkbox-warning input[type="checkbox"]:checked + label::before,
.input-group-addon.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #ffa31c;
  border-color: #ffa31c;
}
.checkbox.checkbox-warning input[type="checkbox"]:checked + label::after,
.input-group-addon.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
  border-color: #fff;
}
.checkbox.checkbox-success input[type="checkbox"]:focus + label::before,
.input-group-addon.checkbox-success input[type="checkbox"]:focus + label::before {
  outline-color: #86c042;
}
.checkbox.checkbox-success input[type="checkbox"]:checked + label::before,
.input-group-addon.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #86c042;
  border-color: #86c042;
}
.checkbox.checkbox-success input[type="checkbox"]:checked + label::after,
.input-group-addon.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
  border-color: #fff;
}
.radio,
.input-group-addon {
  padding-left: 20px;
}
.radio input[type="radio"]+label,
.input-group-addon input[type="radio"]+label {
  display: inline-block;
  position: relative;
  padding-left: 3px;
}
.radio input[type="radio"]+label::before,
.input-group-addon input[type="radio"]+label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  transition: border 0.15s ease-in-out;
}
.radio input[type="radio"]+label::after,
.input-group-addon input[type="radio"]+label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"],
.input-group-addon input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before,
.input-group-addon input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after,
.input-group-addon input[type="radio"]:checked + label::after {
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label,
.input-group-addon input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before,
.input-group-addon input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio .radio-inline,
.input-group-addon .radio-inline {
  margin-top: 0;
}
.radio.radio-primary input[type="radio"] + label::after,
.input-group-addon.radio-primary input[type="radio"] + label::after {
  background-color: #3b83c1;
}
.radio.radio-primary input[type="radio"]:checked + label::before,
.input-group-addon.radio-primary input[type="radio"]:checked + label::before {
  border-color: #3b83c1;
}
.radio.radio-primary input[type="radio"]:checked + label::after,
.input-group-addon.radio-primary input[type="radio"]:checked + label::after {
  background-color: #3b83c1;
}
.radio.radio-danger input[type="radio"] + label::after,
.input-group-addon.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio.radio-danger input[type="radio"]:checked + label::before,
.input-group-addon.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio.radio-danger input[type="radio"]:checked + label::after,
.input-group-addon.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}
.radio.radio-info input[type="radio"] + label::after,
.input-group-addon.radio-info input[type="radio"] + label::after {
  background-color: #42a5f5;
}
.radio.radio-info input[type="radio"]:checked + label::before,
.input-group-addon.radio-info input[type="radio"]:checked + label::before {
  border-color: #42a5f5;
}
.radio.radio-info input[type="radio"]:checked + label::after,
.input-group-addon.radio-info input[type="radio"]:checked + label::after {
  background-color: #42a5f5;
}
.radio.radio-warning input[type="radio"] + label::after,
.input-group-addon.radio-warning input[type="radio"] + label::after {
  background-color: #ffa31c;
}
.radio.radio-warning input[type="radio"]:checked + label::before,
.input-group-addon.radio-warning input[type="radio"]:checked + label::before {
  border-color: #ffa31c;
}
.radio.radio-warning input[type="radio"]:checked + label::after,
.input-group-addon.radio-warning input[type="radio"]:checked + label::after {
  background-color: #ffa31c;
}
.radio.radio-success input[type="radio"] + label::after,
.input-group-addon.radio-success input[type="radio"] + label::after {
  background-color: #86c042;
}
.radio.radio-success input[type="radio"]:checked + label::before,
.input-group-addon.radio-success input[type="radio"]:checked + label::before {
  border-color: #86c042;
}
.radio.radio-success input[type="radio"]:checked + label::after,
.input-group-addon.radio-success input[type="radio"]:checked + label::after {
  background-color: #86c042;
}
.btn-file {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: 0;
  background: #fff;
  cursor: inherit;
  display: block;
}
.input-group-addon input[type="radio"]+label {
  padding: 0 0.5px 7px 0;
}
.input-group-addon input[type="checkbox"]+label {
  padding: 0 0 7px 0;
}
.input-group-addon i {
  padding: 0 4px 0 0;
}
.btn {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding: 6px 12px;
  border-radius: 0;
  border: 1px solid transparent;
  font-size: 13px;
  line-height: 1.4;
  vertical-align: middle;
  transition: all 0.25s;
}
.btn:not(.disabled):not(:disabled):active,
.btn:not(.disabled):not(:disabled).active {
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.btn-lg,
.btn-icon.btn-lg {
  font-size: 17px;
  line-height: 1.33;
}
.btn-sm,
.btn-icon.btn-sm {
  font-size: 11px;
  line-height: 1.5;
}
.btn-xs,
.btn-icon.btn-xs {
  font-size: 11px;
  line-height: 1.5;
}
.btn-icon {
  padding-left: 9px;
  padding-right: 9px;
}
.btn-icon>i,
.btn-icon:before {
  display: inline-block;
  min-width: 1.05em;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: 0;
  background: #fff;
  cursor: inherit;
  display: block;
}
.btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline !important;
  background-color: transparent;
}
.btn.btn-link:focus,
.btn.btn-link:active {
  box-shadow: none;
}
.btn-link.disabled:hover,
.btn-link.disabled:focus {
  text-decoration: none;
}
.btn-trans {
  background-color: transparent;
  border-color: transparent;
  color: #afb9c3;
}
.btn-trans:focus,
.btn-trans:active {
  box-shadow: none !important;
}
.btn,
.btn-default-basic,
.btn-default,
.btn-default:focus,
.btn-default.disabled:hover,
.btn-default:disabled:hover,
.btn-hover-default:hover,
.btn-hover-default:active,
.btn-hover-default.active,
.btn.btn-active-default:active,
.btn.btn-active-default.active,
.dropdown.open>.btn.btn-active-default,
.btn-group.open .dropdown-toggle.btn.btn-active-default {
  background-color: #fafafa;
  border-color: #d1d9de;
  color: #758697;
}
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-color: #e8e8e8;
  border-color: #d1d9de;
  color: #758697;
}
.btn-primary-basic,
.btn-primary,
.btn-primary:focus,
.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
.btn-hover-primary:hover,
.btn-hover-primary:active,
.btn-hover-primary.active,
.btn.btn-active-primary:active,
.btn.btn-active-primary.active,
.dropdown.open>.btn.btn-active-primary,
.btn-group.open .dropdown-toggle.btn.btn-active-primary {
  background-color: #3b83c1;
  border-color: #3f87c4;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: #2f699a;
  border-color: #387cb7;
  color: #fff;
}
.btn-info-basic,
.btn-info,
.btn-info:focus,
.btn-info.disabled:hover,
.btn-info:disabled:hover,
.btn-hover-info:hover,
.btn-hover-info:active,
.btn-hover-info.active,
.btn.btn-active-info:active,
.btn.btn-active-info.active,
.dropdown.open>.btn.btn-active-info,
.btn-group.open .dropdown-toggle.btn.btn-active-info {
  background-color: #42a5f5;
  border-color: #48a8f5;
  color: #fff;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
  background-color: #0d88ec;
  border-color: #339ef4;
  color: #fff;
}
.btn-success-basic,
.btn-success,
.btn-success:focus,
.btn-success.disabled:hover,
.btn-success:disabled:hover,
.btn-hover-success:hover,
.btn-hover-success:active,
.btn-hover-success.active,
.btn.btn-active-success:active,
.btn.btn-active-success.active,
.dropdown.open>.btn.btn-active-success,
.btn-group.open .dropdown-toggle.btn.btn-active-success {
  background-color: #86c042;
  border-color: #8ac248;
  color: #fff;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
  background-color: #6b9b34;
  border-color: #7fb83d;
  color: #fff;
}
.btn-warning-basic,
.btn-warning,
.btn-warning:focus,
.btn-warning.disabled:hover,
.btn-warning:disabled:hover,
.btn-hover-warning:hover,
.btn-hover-warning:active,
.btn-hover-warning.active,
.btn.btn-active-warning:active,
.btn.btn-active-warning.active,
.dropdown.open>.btn.btn-active-warning,
.btn-group.open .dropdown-toggle.btn.btn-active-warning {
  background-color: #ffa31c;
  border-color: #ffa623;
  color: #fff;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
  background-color: #e28700;
  border-color: #ff9d0e;
  color: #fff;
}
.btn-danger-basic,
.btn-danger,
.btn-danger:focus,
.btn-danger.disabled:hover,
.btn-danger:disabled:hover,
.btn-hover-danger:hover,
.btn-hover-danger:active,
.btn-hover-danger.active,
.btn.btn-active-danger:active,
.btn.btn-active-danger.active,
.dropdown.open>.btn.btn-active-danger,
.btn-group.open .dropdown-toggle.btn.btn-active-danger {
  background-color: #d9534f;
  border-color: #da5854;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
  background-color: #c32e2a;
  border-color: #d64743;
  color: #fff;
}
.btn-mint-basic,
.btn-mint,
.btn-mint:focus,
.btn-mint.disabled:hover,
.btn-mint:disabled:hover,
.btn-hover-mint:hover,
.btn-hover-mint:active,
.btn-hover-mint.active,
.btn.btn-active-mint:active,
.btn.btn-active-mint.active,
.dropdown.open>.btn.btn-active-mint,
.btn-group.open .dropdown-toggle.btn.btn-active-mint {
  background-color: #249e92;
  border-color: #26a699;
  color: #fff;
}
.btn-mint:hover,
.btn-mint:active,
.btn-mint.active,
.open>.dropdown-toggle.btn-mint {
  background-color: #1d7e75;
  border-color: #22968b;
  color: #fff;
}
.btn-purple-basic,
.btn-purple,
.btn-purple:focus,
.btn-purple.disabled:hover,
.btn-purple:disabled:hover,
.btn-hover-purple:hover,
.btn-hover-purple:active,
.btn-hover-purple.active,
.btn.btn-active-purple:active,
.btn.btn-active-purple.active,
.dropdown.open>.btn.btn-active-purple,
.btn-group.open .dropdown-toggle.btn.btn-active-purple {
  background-color: #b761c5;
  border-color: #b966c7;
  color: #fff;
}
.btn-purple:hover,
.btn-purple:active,
.btn-purple.active,
.open>.dropdown-toggle.btn-purple {
  background-color: #9d3fac;
  border-color: #b256c1;
  color: #fff;
}
.btn-pink-basic,
.btn-pink,
.btn-pink:focus,
.btn-pink.disabled:hover,
.btn-pink:disabled:hover,
.btn-hover-pink:hover,
.btn-hover-pink:active,
.btn-hover-pink.active,
.btn.btn-active-pink:active,
.btn.btn-active-pink.active,
.dropdown.open>.btn.btn-active-pink,
.btn-group.open .dropdown-toggle.btn.btn-active-pink {
  background-color: #ed5086;
  border-color: #ee558a;
  color: #fff;
}
.btn-pink:hover,
.btn-pink:active,
.btn-pink.active,
.open>.dropdown-toggle.btn-pink {
  background-color: #e6185f;
  border-color: #ec427c;
  color: #fff;
}
.btn-dark-basic,
.btn-dark,
.btn-dark:focus,
.btn-dark.disabled:hover,
.btn-dark:disabled:hover,
.btn-hover-dark:hover,
.btn-hover-dark:active,
.btn-hover-dark.active,
.btn.btn-active-dark:active,
.btn.btn-active-dark.active,
.dropdown.open>.btn.btn-active-dark,
.btn-group.open .dropdown-toggle.btn.btn-active-dark {
  background-color: #404d52;
  border-color: #455358;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:active,
.btn-dark.active,
.open>.dropdown-toggle.btn-dark {
  background-color: #333e42;
  border-color: #3d494e;
  color: #fff;
}
.btn-group-vertical .btn:not(.btn-default),
.btn-group .btn:not(.btn-default) {
  border-color: rgba(0,0,0,0.09);
}
.btn-lg,
.btn-group-lg>.btn,
.btn-icon.btn-lg {
  padding: 10px 16px;
}
.btn-sm,
.btn-group-sm>.btn,
.btn-icon.btn-sm {
  padding: 5px 10px;
}
.btn-xs,
.btn-group-xs>.btn,
.btn-icon.btn-xs {
  padding: 1px 5px;
}
.btn-lg,
.btn-group-lg>.btn,
.btn-icon.btn-lg {
  border-radius: 0;
}
.btn-lg,
.btn-group-sm>.btn,
.btn-group-xs>.btn,
.btn-icon.btn-lg {
  border-radius: 0;
}
.btn-group-vertical>.btn:first-child:not(:last-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-group-vertical>.btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-circle {
  padding: 6px;
  border-radius: 50%;
}
.btn-lg.btn-circle {
  padding: 17px;
}
.btn-sm.btn-circle {
  padding: 7px;
}
.btn-xs.btn-circle {
  padding: 4px;
}
.btn-icon.btn-circle:before,
.btn-icon.btn-circle>i {
  display: block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4;
}
.btn-rounded {
  border-radius: 15px;
  overflow: hidden;
}
.btn-lg.btn-rounded {
  border-radius: 30px;
}
.btn-sm.btn-rounded {
  border-radius: 15px;
}
.btn-xs.btn-rounded {
  border-radius: 10px;
}
.btn-group.btn-rounded {
  overflow: hidden;
}
.btn-labeled,
.btn-labeled.fa {
  overflow: hidden;
}
.btn-labeled:not(.btn-block):not(.form-icon) {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.42857;
  padding-bottom: 0;
  padding-top: 0;
}
.btn-block.btn-labeled:not(.form-icon) {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.42857;
}
.btn-block.btn-labeled:not(.form-icon):before {
  float: left;
  margin-top: -7px;
  margin-bottom: -7px;
}
.btn-labeled .btn-label {
  background-color: rgba(0,0,0,0.05);
  display: inline-block;
  margin-left: -12px;
  margin-right: 6px;
  padding: 6px 12px;
  line-height: 1.42857;
}
.btn-labeled:before {
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  margin-left: -12px;
  margin-right: 6px;
  padding: 6px 12px;
  line-height: 1.42857;
}
.btn-labeled.fa:before,
.btn-labeled .fa:before {
  font-family: fontAwesome;
}
.btn-default.btn-labeled:before,
.btn-default .btn-label {
  background-color: rgba(0,0,0,0.05);
  color: inherit;
}
.btn-lg.btn-labeled {
  font-size: 18px;
  line-height: 1.33;
}
.btn-sm.btn-labeled {
  font-size: 12px;
  line-height: 1.5;
}
.btn-xs.btn-labeled {
  font-size: 12px;
  line-height: 1.5;
}
.btn-lg.btn-labeled:before,
.btn-lg .btn-label {
  margin-left: -16px;
  margin-right: 10px;
  padding: 10px 16px;
}
.btn-lg.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -10px;
  margin-bottom: -10px;
}
.btn-sm.btn-labeled:before,
.btn-sm .btn-label {
  margin-left: -10px;
  margin-right: 5px;
  padding: 5px 10px;
}
.btn-sm.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -5px;
  margin-bottom: -5px;
}
.btn-xs.btn-labeled:before,
.btn-xs .btn-label {
  margin-left: -5px;
  margin-right: 1px;
  padding: 1px 5px;
}
.btn-xs.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -1px;
  margin-bottom: -1px;
}
.btn-labeled.icon-2x:before,
.btn-labeled .btn-label.icon-2x:before {
  vertical-align: -0.15em;
}
.btn-labeled.icon-3x:before,
.btn-labeled .btn-label.icon-3x:before {
  vertical-align: -0.18em;
}
.btn-labeled.icon-4x:before,
.btn-labeled .btn-label.icon-4x:before {
  vertical-align: -0.2em;
}
.btn-labeled.icon-5x:before,
.btn-labeled .btn-label.icon-5x:before {
  vertical-align: -0.25em;
}
.table th {
  font-size: 1.05em;
  font-weight: 600;
  border-bottom: 1px solid #e9e9e9;
  color: #2b425b;
}
.table td {
  border-top: 1px solid #e9e9e9;
}
.table th,
.table td {
  padding: 0.6rem;
  line-height: 1.3;
}
.table-bordered,
.table-bordered td,
.table-bordered th {
  border-color: #e9e9e9;
}
.table-striped>tbody>tr:nth-child(2n+1) {
  background-color: #f6f6f6;
}
.table-hover>tbody>tr:hover {
  background-color: #f2f4f6;
}
.label-table {
  display: inline-block;
  width: 80%;
  min-width: 8ex;
  font-size: 1em;
  max-width: 100px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
  border-radius: 0;
  font-weight: 600;
}
.label-default {
  background-color: #fafafa;
}
.label-primary {
  background-color: #3b83c1;
}
.label-success {
  background-color: #86c042;
}
.label-info {
  background-color: #42a5f5;
}
.label-warning {
  background-color: #ffa31c;
}
.label-danger {
  background-color: #d9534f;
}
#btn-scroll-up {
  position: fixed;
  opacity: 0.7;
  bottom: 2px;
  right: 2px;
  background: #404449;
  color: #fff;
  display: none;
}
#btn-scroll-up:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
